# IDE and OS files
.vscode/
.idea/
.vs/
*.swp
*.swo
*.DS_Store
Thumbs.db
desktop.ini

# Build and Output
bin/
obj/
[Bb]in/
[Oo]bj/
dist/
publish/
*.log
*.tmp
*.bak

# .NET Specific
.dotnet/
*.user
*.userosscache
*.sln.docstates
*.suo

# Environment and Secrets
appsettings.Development.json
.env
*.pfx
*.p12
*.asc

# Testing
TestResults/

Publish_Portable/
*.exe
*.zip
*.pdb
*.msi
Installer/
**/bin/
**/obj/

